In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import Table, Column, Integer, Float, String, Boolean, Text, MetaData, ForeignKey, select
from sqlalchemy.orm import sessionmaker, Session
from google.colab import drive


drive.mount('/content/drive')


class Global_Base:
    def __init__(self, path):
        self.df = pd.read_csv(path, encoding='ISO-8859-1')


def inspector() -> None:
  inspector = db.inspect(engine)
  tables = inspector.get_table_names()
  print(tables)
  print("Для просмотра таблицы, введите view_table(table_name).")
  print("Например для 'Classroom' будет view_table(classroom).")

def view_table(metadates: Table) -> None:
  try:
    select_all_query = db.select(metadates)
    select_result = session.execute(select_all_query)
    result = select_result.all()
    for row in result:
      print(row)
  except:
    print("Для просмотра таблицы, введите view_table(table_name).")
    print("Например для 'Classroom' будет view_table(classroom).")

def view_mod_table(metadates: Table) -> None:
  try:
    select_result = session.execute(metadates)
    result = select_result.all()
    for row in result:
      print(row)
  except:
    print("Для просмотра таблицы, введите view_table(table_name).")
    print("Например для 'Classroom' будет view_table(classroom).")

def fetch_as_dict(session, query: select) -> list[dict]:
    result = session.execute(query)
    return [dict(row) for row in result.mappings().all()]

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
tdset = Global_Base('/content/drive/MyDrive/GTDb.csv')

<ipython-input-1-740c52c972a3>:13: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  self.df = pd.read_csv(path, encoding='ISO-8859-1')

In [3]:
tdset.df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
tdset.df = tdset.df.rename(columns={'property': 'properties'})
tdset.df.loc[130233, 'multiple'] = 0
tdset.df['multiple'] = tdset.df['multiple'].astype(int)

In [5]:
engine = db.create_engine('sqlite:///GTDb1_1.db')

In [6]:
metadata = MetaData()
Session = sessionmaker(bind=engine)
session = Session()

In [7]:
region = Table(
    'Region', metadata,
    Column('id', Integer, primary_key=True),
    Column('region_txt', String),
)

In [8]:
country = Table(
    'Country', metadata,
    Column('id', Integer, primary_key=True),
    Column('country_txt', String),
    Column('region_id', Integer, ForeignKey('Region.id')),
)

In [9]:
city = Table(
    'City', metadata,
    Column('id', Integer, primary_key=True),
    Column('city', String),
    Column('country_id', Integer, ForeignKey('Country.id')),
)

In [10]:
type_attack = Table(
    'Type_Attack', metadata,
    Column('id', Integer, primary_key=True),
    Column('attacktype1_txt', String),
)

In [11]:
corp = Table(
    'Corp', metadata,
    Column('id', Integer, primary_key=True),
    Column('corp1', String),
)

In [12]:
natlty = Table(
    'Natlty', metadata,
    Column('id', Integer, primary_key=True),
    Column('natlty1_txt', String),
)

In [13]:
weapon_type = Table(
    'Weapon_Type', metadata,
    Column('id', Integer, primary_key=True),
    Column('weaptype1_txt', String),
)

In [14]:
weapon_sub_type = Table(
    'Weapon_Sub_Type', metadata,
    Column('id', Integer, primary_key=True),
    Column('weapsubtype1_txt', String),
    Column('weapon_type_id', Integer, ForeignKey('Weapon_Type.id')),
)

In [15]:
propextent = Table(
    'Propextent', metadata,
    Column('id', Integer, primary_key=True),
    Column('propextent_txt', String),
)

In [16]:
claimmode = Table(
    'Claimmode', metadata,
    Column('id', Integer, primary_key=True),
    Column('claimmode_txt', String),
)

In [17]:
target = Table(
    'Target', metadata,
    Column('id', Integer, primary_key=True),
    Column('target1', Text),
)

In [18]:
target_type = Table(
    'Target_Type', metadata,
    Column('id', Integer, primary_key=True),
    Column('targtype1_txt', String),
)

In [19]:
target_sub_type = Table(
    'Target_Sub_Type', metadata,
    Column('id', Integer, primary_key=True),
    Column('targsubtype1_txt', String),
    Column('target_type_id', Integer, ForeignKey('Target_Type.id')),
)

In [20]:
type_incident = Table(
    'Type_Incident', metadata,
    Column('id', Integer, primary_key=True),
    Column('alternative_txt', String),
)

In [21]:
other_data = Table(
    'Other_Data', metadata,
    Column('id', Integer, primary_key=True),
    Column('addnotes', Text),
    Column('scite1', Text),
    Column('scite2', Text),
    Column('scite3', Text),
)

In [22]:
international_data = Table(
    'International_Data', metadata,
    Column('id', Integer, primary_key=True),
    Column('INT_LOG', Integer),
    Column('INT_IDEO', Integer),
    Column('INT_MISC', Integer),
    Column('INT_ANY', Integer),
)

In [23]:
placespec = Table(
    'PlaceSpec', metadata,
    Column('id', Integer, primary_key=True),
    Column('latitude', Float),
    Column('longitude', Float),
    Column('specificity', Integer),
    Column('vicinity', Integer),
    Column('location', Text),
    Column('summary', Text),
    Column('motive', Text),
)

In [24]:
hostages = Table(
    'Hostages', metadata,
    Column('id', Integer, primary_key=True),
    Column('ishostkid', Integer),
    Column('nhostkid', Integer),
    Column('nhostkidus', Integer),
    Column('ndays', Integer),
    Column('ransom', Integer),
    Column('ransomamt', Integer),
    Column('ransompaid', Integer),
    Column('hostkidoutcome_txt', String),
)

In [25]:
attackspec = Table(
    'AttackSpec', metadata,
    Column('id', Integer, primary_key=True),
    Column('crit1', Boolean),
    Column('crit2', Boolean),
    Column('crit3', Boolean),
    Column('doubtterr', Integer),
    Column('multiple', Boolean),
    Column('success', Boolean),
    Column('suicide', Boolean),
)

In [26]:
victims = Table(
    'Victims', metadata,
    Column('id', Integer, primary_key=True),
    Column('nkill', Integer),
    Column('nkillus', Integer),
    Column('nkillter', Integer),
    Column('nwound', Integer),
    Column('nwoundus', Integer),
    Column('nwoundte', Integer),
)

In [27]:
properties = Table(
    'Properties', metadata,
    Column('id', Integer, primary_key=True),
    Column('properties', Integer),
    Column('propvalue', Integer),
    Column('propcomment', Text),
)

In [28]:
incident = Table(
    'Incident', metadata,
    Column('id', Integer, primary_key=True),
    Column('iyear', Integer),
    Column('imonth', Integer),
    Column('iday', Integer),
    Column('city_id', Integer, ForeignKey('City.id')),
    Column('type_incident_id', Integer, ForeignKey('Type_Incident.id')),
    Column('type_attack_id', Integer, ForeignKey('Type_Attack.id')),
    Column('target_sub_type_id', Integer, ForeignKey('Target_Sub_Type.id')),
    Column('corp_id', Integer, ForeignKey('Corp.id')),
    Column('target_id', Integer, ForeignKey('Target.id')),
    Column('natlty_id', Integer, ForeignKey('Natlty.id')),
    Column('claimmode_id', Integer, ForeignKey('Claimmode.id')),
    Column('weapon_sub_type_id', Integer, ForeignKey('Weapon_Sub_Type.id')),
    Column('propextent_id', Integer, ForeignKey('Propextent.id')),
)

In [29]:
metadata.create_all(engine)

In [30]:
regions = tdset.df['region_txt'].drop_duplicates()
countries = tdset.df[['country_txt', 'region_txt']].drop_duplicates()
cities = tdset.df[['city', 'country_txt']].drop_duplicates()
type_attacks = tdset.df['attacktype1_txt'].drop_duplicates()
corps = tdset.df['corp1'].drop_duplicates()
natlties = tdset.df['natlty1_txt'].drop_duplicates()
weapon_types = tdset.df['weaptype1_txt'].drop_duplicates()
weapon_sub_types = tdset.df[['weapsubtype1_txt', 'weaptype1_txt']].drop_duplicates()
propextents = tdset.df['propextent_txt'].drop_duplicates()
claimmods = tdset.df['claimmode_txt'].drop_duplicates()
targets = tdset.df['target1'].drop_duplicates()
target_types = tdset.df['targtype1_txt'].drop_duplicates()
target_sub_types = tdset.df[['targsubtype1_txt', 'targtype1_txt']].drop_duplicates()
type_incidents = tdset.df['alternative_txt'].drop_duplicates()

In [31]:
for region_name in regions:
    new_region = { 'region_txt': region_name }
    session.execute(region.insert().values(new_region))

In [32]:
for _, row in countries.iterrows():
    result = session.execute(db.select(region.c.id).where(region.c.region_txt == row['region_txt']))
    region_id = result.fetchone()
    region_id = region_id[0]
    new_country = { 'country_txt': row['country_txt'], 'region_id': region_id }
    session.execute(country.insert().values(new_country))

In [33]:
for _, row in cities.iterrows():
    result = session.execute(db.select(country.c.id).where(country.c.country_txt == row['country_txt']))
    country_id = result.fetchone()
    country_id = country_id[0]
    new_city = { 'city': row['city'], 'country_id': country_id }
    session.execute(city.insert().values(new_city))

In [34]:
for type_attack_name in type_attacks:
    new_type_attack = { 'attacktype1_txt': type_attack_name }
    session.execute(type_attack.insert().values(new_type_attack))

In [35]:
for corp_name in corps:
    new_corp = { 'corp1': corp_name }
    session.execute(corp.insert().values(new_corp))

In [36]:
for natlty_name in natlties:
    new_natlty = { 'natlty1_txt': natlty_name }
    session.execute(natlty.insert().values(new_natlty))

In [37]:
for weapon_type_name in weapon_types:
    new_weapon_type = { 'weaptype1_txt': weapon_type_name }
    session.execute(weapon_type.insert().values(new_weapon_type))

In [38]:
for _, row in weapon_sub_types.iterrows():
    result = session.execute(db.select(weapon_type.c.id).where(weapon_type.c.weaptype1_txt == row['weaptype1_txt']))
    weapon_type_id = result.fetchone()
    weapon_type_id = weapon_type_id[0]
    new_weapon_sub_type = { 'weapsubtype1_txt': row['weapsubtype1_txt'], 'weapon_type_id': weapon_type_id }
    session.execute(weapon_sub_type.insert().values(new_weapon_sub_type))

In [39]:
for propextent_name in propextents:
    new_propextent = { 'propextent_txt': propextent_name }
    session.execute(propextent.insert().values(new_propextent))

In [40]:
for claimmode_name in claimmods:
    new_claimmode = { 'claimmode_txt': claimmode_name }
    session.execute(claimmode.insert().values(new_claimmode))

In [41]:
for target_name in targets:
    new_target = { 'target1': target_name }
    session.execute(target.insert().values(new_target))

In [42]:
for target_type_name in target_types:
    new_target_type = { 'targtype1_txt': target_type_name }
    session.execute(target_type.insert().values(new_target_type))

In [43]:
for _, row in target_sub_types.iterrows():
    result = session.execute(db.select(target_type.c.id).where(target_type.c.targtype1_txt == row['targtype1_txt']))
    target_type_id = result.fetchone()
    target_type_id = target_type_id[0]
    new_target_sub_type = { 'targsubtype1_txt': row['targsubtype1_txt'], 'target_type_id': target_type_id }
    session.execute(target_sub_type.insert().values(new_target_sub_type))

In [44]:
for type_incident_name in type_incidents:
    new_type_incident = { 'alternative_txt': type_incident_name }
    session.execute(type_incident.insert().values(new_type_incident))

In [45]:
for _, row in tdset.df.iterrows():
    new_other_data = {
          'addnotes': row['addnotes'],
          'scite1': row['scite1'],
          'scite2': row['scite2'],
          'scite3': row['scite3'],
          }
    session.execute(other_data.insert().values(new_other_data))

In [46]:
for _, row in tdset.df.iterrows():
  new_international_data = {
          'INT_LOG': row['INT_LOG'],
          'INT_IDEO': row['INT_IDEO'],
          'INT_MISC': row['INT_MISC'],
          'INT_ANY': row['INT_ANY'],
          }
  session.execute(international_data.insert().values(new_international_data))

In [47]:
for _, row in tdset.df.iterrows():
  new_placespec = {
          'latitude': row['latitude'],
          'longitude': row['longitude'],
          'specificity': row['specificity'],
          'vicinity': row['vicinity'],
          'location': row['location'],
          'summary': row['summary'],
          'motive': row['motive'],
          }
  session.execute(placespec.insert().values(new_placespec))

In [48]:
for _, row in tdset.df.iterrows():
  new_hostages = {
          'ishostkid': row['ishostkid'],
          'nhostkid': row['nhostkid'],
          'nhostkidus': row['nhostkidus'],
          'ndays': row['ndays'],
          'ransom': row['ransom'],
          'ransomamt': row['ransomamt'],
          'ransompaid': row['ransompaid'],
          'hostkidoutcome_txt': row['hostkidoutcome_txt'],
          }
  session.execute(hostages.insert().values(new_hostages))

In [49]:
for _, row in tdset.df.iterrows():
  new_attackspec = {
          'crit1': row['crit1'],
          'crit2': row['crit2'],
          'crit3': row['crit3'],
          'doubtterr': row['doubtterr'],
          'multiple': row['multiple'],
          'success': row['success'],
          'suicide': row['suicide'],
          }
  session.execute(attackspec.insert().values(new_attackspec))

In [50]:
for _, row in tdset.df.iterrows():
  new_victims = {
          'nkill': row['nkill'],
          'nkillus': row['nkillus'],
          'nkillter': row['nkillter'],
          'nwound': row['nwound'],
          'nwoundus': row['nwoundus'],
          'nwoundte': row['nwoundte'],
          }
  session.execute(victims.insert().values(new_victims))

In [51]:
for _, row in tdset.df.iterrows():
  new_properties = {
          'properties': row['properties'],
          'propvalue': row['propvalue'],
          'propcomment': row['propcomment'],
          }
  session.execute(properties.insert().values(new_properties))

In [ ]:
# Variant 1. 60 - 90 minuts

for _, row in tdset.df.iterrows():
    city_results = session.execute(db.select(city.c.id).where(city.c.city == row['city'])).scalars().all()
    city_id = city_results[0] if city_results else None
    target_sub_type_results = session.execute(db.select(target_sub_type.c.id).where(target_sub_type.c.targsubtype1_txt == row['targsubtype1_txt'])).scalars().all()
    target_sub_type_id = target_sub_type_results[0] if target_sub_type_results else None
    weapon_sub_type_results = session.execute(db.select(weapon_sub_type.c.id).where(weapon_sub_type.c.weapsubtype1_txt == row['weapsubtype1_txt'])).scalars().all()
    weapon_sub_type_id = weapon_sub_type_results[0] if weapon_sub_type_results else None


    new_incident = {
        'iyear': row['iyear'],
        'imonth': row['imonth'],
        'iday': row['iday'],
        'city_id': city_id,
        'type_incident_id': session.execute(db.select(type_incident.c.id).where(type_incident.c.alternative_txt == row['alternative_txt'])).scalar_one_or_none(),
        'type_attack_id': session.execute(db.select(type_attack.c.id).where(type_attack.c.attacktype1_txt == row['attacktype1_txt'])).scalar_one_or_none(),
        'target_sub_type_id': target_sub_type_id,
        'corp_id': session.execute(db.select(corp.c.id).where(corp.c.corp1 == row['corp1'])).scalar_one_or_none(),
        'target_id': session.execute(db.select(target.c.id).where(target.c.target1 == row['target1'])).scalar_one_or_none(),
        'natlty_id': session.execute(db.select(natlty.c.id).where(natlty.c.natlty1_txt == row['natlty1_txt'])).scalar_one_or_none(),
        'claimmode_id': session.execute(db.select(claimmode.c.id).where(claimmode.c.claimmode_txt == row['claimmode_txt'])).scalar_one_or_none(),
        'weapon_sub_type_id': weapon_sub_type_id,
        'propextent_id': session.execute(db.select(propextent.c.id).where(propextent.c.propextent_txt == row['propextent_txt'])).scalar_one_or_none(),
        }

    session.execute(incident.insert().values(new_incident))

session.commit()

In [70]:
# Variant 2. 44 minuts

cities_data = fetch_as_dict(session, db.select(city.c.id, city.c.city))
cities = {row['city']: row['id'] for row in cities_data}

target_sub_types_data = fetch_as_dict(session, db.select(target_sub_type.c.id, target_sub_type.c.targsubtype1_txt))
target_sub_types = {row['targsubtype1_txt']: row['id'] for row in target_sub_types_data}

weapon_sub_types_data = fetch_as_dict(session, db.select(weapon_sub_type.c.id, weapon_sub_type.c.weapsubtype1_txt))
weapon_sub_types = {row['weapsubtype1_txt']: row['id'] for row in weapon_sub_types_data}


new_incidents = []

for _, row in tdset.df.iterrows():
    city_id = cities.get(row['city'])
    target_sub_type_id = target_sub_types.get(row['targsubtype1_txt'])
    weapon_sub_type_id = weapon_sub_types.get(row['weapsubtype1_txt'])

    new_incident = {
        'iyear': row['iyear'],
        'imonth': row['imonth'],
        'iday': row['iday'],
        'city_id': city_id,
        'type_incident_id': session.execute(db.select(type_incident.c.id).where(type_incident.c.alternative_txt == row['alternative_txt'])).scalar_one_or_none(),
        'type_attack_id': session.execute(db.select(type_attack.c.id).where(type_attack.c.attacktype1_txt == row['attacktype1_txt'])).scalar_one_or_none(),
        'target_sub_type_id': target_sub_type_id,
        'corp_id': session.execute(db.select(corp.c.id).where(corp.c.corp1 == row['corp1'])).scalar_one_or_none(),
        'target_id': session.execute(db.select(target.c.id).where(target.c.target1 == row['target1'])).scalar_one_or_none(),
        'natlty_id': session.execute(db.select(natlty.c.id).where(natlty.c.natlty1_txt == row['natlty1_txt'])).scalar_one_or_none(),
        'claimmode_id': session.execute(db.select(claimmode.c.id).where(claimmode.c.claimmode_txt == row['claimmode_txt'])).scalar_one_or_none(),
        'weapon_sub_type_id': weapon_sub_type_id,
        'propextent_id': session.execute(db.select(propextent.c.id).where(propextent.c.propextent_txt == row['propextent_txt'])).scalar_one_or_none(),
    }

    new_incidents.append(new_incident)


session.execute(incident.insert(), new_incidents)
session.commit()

In [74]:
import shutil

shutil.copy('GTDb1_1.db', '/content/drive/My Drive/GTDb.db')

'/content/drive/My Drive/GTDb.db'

In [52]:
session.commit()

session.close()

In [53]:
inspector()

['AttackSpec', 'City', 'Claimmode', 'Corp', 'Country', 'Hostages', 'Incident', 'International_Data', 'Natlty', 'Other_Data', 'PlaceSpec', 'Properties', 'Propextent', 'Region', 'Target', 'Target_Sub_Type', 'Target_Type', 'Type_Attack', 'Type_Incident', 'Victims', 'Weapon_Sub_Type', 'Weapon_Type']
Для просмотра таблицы, введите view_table(table_name).
Например для 'Classroom' будет view_table(classroom).

In [54]:
view_table(type_attack)

(1, 'Assassination')
(2, 'Hostage Taking (Kidnapping)')
(3, 'Bombing/Explosion')
(4, 'Facility/Infrastructure Attack')
(5, 'Armed Assault')
(6, 'Hijacking')
(7, 'Unknown')
(8, 'Unarmed Assault')
(9, 'Hostage Taking (Barricade Incident)')